<div class="rec">

  <div style="padding: 10% 0 0% 0" class="jumbotron" align="center">
    <h3>Taxi servis</h3>
    <hr style="margin-top: 6%">
  </div>
  <div align="center" style="margin: 0 5% 0 5%">
    <p><i>If you want to use this taxi servis you can create account or use existing.</i></p>
  </div>
  <div style="margin-top: 20%;margin-left: 30%">
    <button class="btn btn-lg btn-dark" routerLink="/login" style="margin-right: 20% ">Login</button>
    <button class="btn btn-lg btn-dark" routerLink="/register">Register</button>
  </div>
</div>

