<form id="forma">
  <h3 id="reg_title" class="jumbotron">Registration</h3>

  <div class="form-group row">
    <label for="username">Username: </label>
    <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" required
           style="width:40%;margin-left: 9%"/>
  </div>
  <div class="form-group row">

    <label for="password">Password: </label>
    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required
           style="width: 40%;margin-left: 9.5%"/>
  </div>

  <div class="form-group row">
    <label for="firstname">First name: </label>
    <input type="text" class="form-control" name="firstname" id="firstname" [(ngModel)]="user.firstName" required
           style="width: 40%;margin-left: 8.5%"/>
  </div>

  <div class="form-group row">
    <label for="lastname">Last name: </label>
    <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="user.lastName" required
           style="width:40%;margin-left: 8.75%"/>
  </div>
  <div class="form-group row">

    <label for="gender">Gender: </label>
    <select class="form-control" name="gender" [(ngModel)]="user.gender" id="gender" style="width: 40%;margin-left: 11%">
      <option>Male</option>
      <option>Female</option>
    </select>

  </div>
  <div class="form-group row">
    <label for="jmbg">Jmbg: </label>
    <input type="text" class="form-control" name="jmbg" id="jmbg" [(ngModel)]="user.jmbg" required
           style="width: 40%;margin-left: 13%" />
  </div>
  <div class="form-group row">
    <label for="phone">Phone number: </label>
    <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="user.jmbg" required
           style="width: 40%;margin-left: 5%" />
  </div>
  <div class="form-group row">
    <label for="email">Email: </label>
    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email" required
           style="width: 40%;margin-left: 13%" placeholder="example@example.com"/>
  </div>
  <div style="margin-top: 10%">

    <input type="submit" class="btn btn-dark" (click)="registerUser()" value="Submit"
           style="float: right;margin:3% 5% 10% 0">
  </div>
</form>
